<!DOCTYPE html>
<html lang="en" data-theme="custom">

<head>
  <title>{{post.title}} | eerik.dev</title>
  {% include "head.html" %}
  <link href="/assets/css/prism.css" rel="stylesheet" />
</head>

<body>
  {% include "header.html" %}
  <div id="modal" class="hidden absolute inset-0 grid place-items-center z-10 bg-black bg-opacity-50 backdrop-blur-md">
    <button class="absolute top-0 right-0 p-3 text-lg font-bold"><img
        src="/assets/images/close_icon_white.png" /></button>
    <figure class="rounded-box max-w-[80%] relative">
      <img src="{{ post.featured_image }}" class="z-10 rounded-box" />
    </figure>
  </div>
  <main id="content">
    <article class="prose md:prose-xl mx-auto mb-24 font-accent px-6 md:px-0">
      <div class="not-prose text-sm breadcrumbs font-mono">
        <ul>
          <li><a href="/blog" class="link">Blog posts</a></li>
          <li>{{ post.title }}</li>
        </ul>
      </div>
      <img src={{ post.featured_image }} alt="placeholder" id="project-img" class="max-h-96 w-full mt-6 object-cover"
        class="w-full aspect-[16/8] object-cover object-left-top rounded-box shadow-md"
        hx-get="/image_modal?image_url={{ post.featured_image }}&display_class=grid" hx-target="#modal" hx-trigger="click"
        hx-swap="outerHTML" />
      {{ html|safe}}
    </article>
  </main>
  {% include "footer.html" %}
  <script src="/assets/js/prism.js"></script>
</body>

</html>
