<div class="navbar bg-base-100">
  <div class="flex-1">
    <h1>
      <a href="/" class="btn btn-ghost hover:bg-transparent text-xl">eerik.dev</a>
    </h1>
  </div>
  <nav>
    <ul class="hidden sm:flex menu menu-horizontal font-mono font-bold">
      <li>
        <a class="hover:bg-transparent focus:bg-transparent" href="/projects">
          Projects
        </a>
      </li>
      <li>
        <a href="/blog" class="hover:bg-transparent focus:bg-transparent">Blog</a>
      </li>
<!--      <li><a class="hover:bg-transparent focus:bg-transparent">About</a></li>
<li><a class="hover:bg-transparent focus:bg-transparent">Contact</a></li> -->
    </ul>
  </nav>
  <div class="hidden menu menu-horizontal">
    <button class="btn btn-ghost" hx-get="/mobile-nav" hx-target="#mobile_nav">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
        class="inline-block w-5 h-5 stroke-current">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path>
      </svg>
    </button>
  </div>
</div>
