<section class="hero px-6 py-4 md:p-0 h-maincontent md:h-content slide-in" id="hero">
  <div class="hero-content flex-col md:flex-row p-0 md:p-2 container max-w-6xl justify-between md:-translate-y-[60px]">
    <div class="max-w-md">
      <h1 class="text-2xl md:text-6xl font-accent font-bold">Hello there<span class="md:text-5xl ml-2 pb-1">🤓</span></h1>
      <p class="py-6 md:text-2xl leading-8 font-accent">I'm Erik and I love making things on the web. On this site you can find some <a href="/projects" class="text-info-content">projects</a> I made and read some things I wrote on my <a href="/blog" class="text-info-content">blog</a>.</p>
      <!-- <button class="btn btn-primary">Get Started</button> -->
    </div>
    <div class="mockup-code text-sm md:text-base font-mono w-full md:w-1/2 bg-base-300 bg-opacity-50 shadow-md py-4">
      <pre data-prefix="$" class="text-left mb-1"><span class="text-success">ls</span>&nbsp;<span class="text-accent">projects</span></pre>
      <pre data-prefix="" class="text-left flex mb-2">
        <ul class="grid grid-cols-2 md:grid-cols-3 gap-x-6 w-full">
          {% for project in projects %}
          <li class="flex">
            <a class="link text-info-content" href="/projects/{{ project.name }}">{{ project.name }}</a>
          </li>
          {% endfor %}
        </ul>
      </pre>
      <pre data-prefix="$" class="text-left mb-0.5"><span class="text-success">ls</span>&nbsp;<span class="text-accent">skills</span> --technical</pre>
      <pre data-prefix="" class="text-left flex">
        <div class="hidden text-warning text-neutral-content text-primary text-rosewater text-accent text-secondary"></div>
        <ul class="grid grid-cols-2 md:grid-cols-3 gap-x-6 gap-y-1 w-full mt-1">
          {% for technology in technologies %}
            {% if technology.featured %}
              <li class="flex">
                <span class="font-bold"><i class="{{ technology.fa_classname }} mr-2"></i>{{ technology.name }}</span>
              </li>
            {% endif %}
          {% endfor %}
        </ul>
      </pre>
    </div>
  </div>
</section>
